<div [id]="item.item_id" (tracker)="ds.add('events', $event)">
    <!--suppress HtmlDeprecatedAttribute -->
    <img #art
         class="rounded-left w-auto h-100"
         (mouseenter)="item['show']=true"
         (mouseleave)="item['show']=false"
         style="max-height: 300px"
         [src]="'/assets/images/movies/' + item.item_id + '.jpg'"
         onerror="this.style.display='none'"
         [alt]=item.title>

    <!-- Overlay -->
    <div id="overlay"
         class="position-absolute
         bg-dark"
         *ngIf="item['show']"
         [ngStyle]="{'height.px': art.offsetHeight, 'width.px': art.offsetWidth}"
         style="top: 27px;
         pointer-events: none;
          opacity: 70%">
        <div class="d-flex h-center ">
            <div class="mt-4">
                <h1 class="bi bi-hand-thumbs-up mb-4" ngbTooltip='I like this movie'></h1>
                <h1 class="bi bi-hand-thumbs-down mb-4" ngbTooltip="I don't like this movie"></h1>
                <h1 class="bi bi-question-circle mb-4" ngbTooltip="I don't know this movie"></h1>
            </div>
        </div>
    </div>

    <!-- Content Title -->
    <div class="position-absolute" style="bottom: 20px">
        <h6 class="ml-3">{{item.title}}</h6>
    </div>
</div>
