<div class="container py-5">
    <div class="row h-center">
        <div class="col-6">
            <p>Clicking the button below will take you to another page where you'll be able to see your
                recommendations. Experiment with the application for 5 - 7 minutes and then exit from the
                left hand corner. Afterwards, you will be asked to answer a few questions about your experience.</p>
            <button class="btn btn-primary mr-3" type="button" routerLink="/app/browse">Explore</button>
        </div>
    </div>
</div>

