<div [id]="item.item_id"
     style="overflow: hidden;">
    <!--suppress HtmlDeprecatedAttribute -->
    <img #art
         class="rounded-left w-auto h-100"
         style="max-height: 300px"
         [src]="'/assets/images/movies/' + item.item_id + '.jpg'"
         onerror="this.style.display='none'"
         [alt]=item.title
         [ngStyle]="temp ? {'border':'10px solid gold'} : null">

    <!-- Overlay -->
    <div id="overlay"
         class="position-absolute bg-dark"
         (mouseenter)="item['show']=true"
         (mouseleave)="item['show']=false"
         [ngStyle]="{
         'height.px': art.offsetHeight || 300,
         'width.px': art.offsetWidth || 300,
         'opacity.%':item['show'] ? 70 : 0}"
         style="top: 0;">

        <div class=" position-absolute ml-3" style="bottom: 20px">
            <!-- Title -->
            <h3 class="text-light font-weight-bold">{{item.title}}</h3>
            <!-- Stars -->
            <h4 *ngFor="let r of [1,2,3,4,5]" class="d-inline-block bi text-warning"
                (mouseover)="temp=rating;rating = r"
                (mouseleave)="rating=temp"
                (click)="temp == r ? temp = 0 : temp = r; rate(temp)"
                [ngClass]="r <= rating ? 'bi-star-fill' : 'bi-star'"></h4>
        </div>
    </div>
</div>
